/*css reset*/
*{
    margin:0;
    padding:0;
}

/*css variables */
:root{
    --navbar-height:59px;
}
/*navigation bar */
#navabar
{
    display:flex;
    align-items:center;
}

/* logo and image*/
#logo{
    margin:34px 45 px;
}

*logo img
{
height:56px;
margin:34px 45px;
}

/*navigation bar:list styling */
#navbar{
    position: relative;
}
#navbar ul{
    display:flex;

}

#navbar::before{
    content:"";
    background-color:pink;
    position: absolute;
    height:100%;
    width: 100%;
    z-index: -1;
    opacity:0.4;
}

#navbar ul li{
    /* color:white;*/
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    display:block;
    padding:3px 22px;
    border-radius: 20px;
    text-decoration:none;
}

#navbar ul li a:hover
{
    color:black;
    display:block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;

}

/* home section*/
#home
{
    display:flex;
    flex-direction: column;
}